.card_container {
    max-width: 15rem;
    min-height: 18rem;
    padding: 0.3rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0.5rem;
    overflow: hidden;
    transition: all 0.3s ease;
    border: 1px solid rgba(255, 255, 255, 0.529);
    box-shadow: rgba(255, 255, 255, 0.16) 0px 5px 10px 2px;
    /* background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3); */
    cursor: pointer;
    text-decoration: none;
}

.mySwiper {
    height: 10rem;
    width: auto;
}

.card_image {
    width: inherit;
    height: 100%;
    border-radius: 0.3rem;
}

.content_container {
    margin-inline: 0.5rem;
}

.heading {
    font-family: var(--secondary-font);
    color: var(--white);
    font-weight: 700;
    letter-spacing: 1px;
    word-spacing: 3px;
    margin-block: 0.5rem;
}

.content {
    font-family: var(--secondary-font);
    color: var(--white);
    font-size: 0.8rem;
    font-weight: 100;
    padding-bottom: 0.5rem;
}

.card_container:hover{
    border: 1px solid var(--red);
    box-shadow: var(--shadow) 0px 32px 30px 0px;
}